<div class="row mt-4">
    <div class="col-md-12">
        <button class="btn btn-success">New Book</button>
    </div>
</div>
<hr>
<div class="row mt-2">
    <div class="col-xs-12">
        <!-- give ngFor here thus create a link for each book-item v loop thru -->

        <!-- here bind eachBook object to book property using property binding -->
       <app-book-item *ngFor="let eachBook of bookArr" [book]="eachBook" (bookOut)="OnBookIsSelected(eachBook)"></app-book-item>
       <!-- pass eachBook as argument -->
       <!-- means which book is selected -->
    </div>
</div>
