<div class="row mt-4">
    <div class="col-md-4">
        <button class="btn btn-success">New Book</button>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="card card-body">

           <div class="row">
               <div class="col-md-4 float-left mr-auto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
               </div>
                <div class="col-md-3 float-right">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>

        </div>
    </div>
</div>